<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Corona Page</title>
  </head>
  <body>
      {% extends "template.html" %}
      {% block content %}
        <div class=content>
            <h1> Hello!</h1>
            <p> 
              Find yourself with too much do? Or not enough? Many people or stores (grocery stores, for example) find themselves
              with way more to do than usual, and are overwhelmed.  On the other hand, some people (waiters, for example) find
              there hours cut as business operating hours have been slashed due to the pandemic.  
            </p>
            <p></p>
              We are here to help.  Our site provides a way to 
              match people who need help with those who have time to do so.
            </p>
            <p>
              Best wishes: <a href ="https://github.com/skehoe3" >Shannon</a>, <a href ="https://github.com/Soty89" >Gerrit</a>, <a href ="https://github.com/StoyanVenDimitrov" >Stoyan</a>, <a href ="https://github.com/krasswez" >Felix</a>, and <a href = "https://github.com/visocicaguy" >Amir</a>
            </p>
        </div>
        {% endblock %}
  </body>
</html>