
{% extends "template.html" %}
{% block content %}
<h1>Offers</h1>
<div>
    {% if offers %}
        <table class="blueTable">
            <thead>
                <th>Offer Name</th>
            </thead>
            {% for offer in offers %}
                <tr><td>{{ offer }}</td></tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
            {% for message in messages %}
            <div>{{ message }}</div>
            {% endfor %}
    {% endif %}
{% endwith %}
</div>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}