<!DOCTYPE html>
<!--This page is what creates the header links and such.  Essentially the base class for the application-->
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Corona Page</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
 </head>
 <body>
    <header>
      <div class="topnav">
        <a href="{{ url_for('index') }}">Home</a>
        <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/11bK3FbAwtre4R91jFSrVvtMKDJqbmbxCqiipD9Hg9SQ">I want to Help!</a>
        <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/1Sl6wkhOvDqwetV2L09T2BIWRPpTPW6rhIdmswdKACBo">I need Help!</a>
        <a href="{{ url_for('offers') }}">Matches</a>
      </div>
    </header>

    {% block content %}
    {% endblock %}
 </body>
</html>